docker-compose.override.yml
.env
.env.backup
Homestead.json
Homestead.yaml
/node_modules
npm-debug.log
.phpunit.result.cache
public/css
/public/hot
public/js
public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
yarn-error.log
